<html>
<head>
  <title>CSP Violations</title>
  <link href="{{ url_for('static', filename='vendor/normalize.css/normalize.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='vendor/milligram/dist/milligram.min.css') }}" rel="stylesheet" />
</head>
<body>
  <h1>CSP Reports</h1>
  <table border="1">
    {% for report in reports %}
    {% if loop.first %}
    <tr>
      {% for key, value in report.iteritems() %}
      <th><b>{{ key }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    <tr>
      {% for key, value in report.iteritems() %}
      <td><code>{{ value }}</code></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>
