{% extends 'layout.html' %}
{% block title %}Violations for {{ domain }}{% endblock %}
{% block body %}
  <h1>CSP Reports for {{ domain }}</h1>
  <small>[<a href="{{ url_for('index') }}">home</a>]</small><br />
  <table>
    {% for report in reports %}
    {% if loop.first %}
    <thead>
      <tr>
        {% for key, value in report.iteritems() %}
        <th><b>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tr>
      {% for key, value in report.iteritems() %}
      <td><code>{{ value }}</code></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
